body{
    max-height: 100%;
}

.background {
    background: rgb(119,34,47);
    background: linear-gradient(180deg, rgba(119,34,47,1) 24%, rgba(31,35,47,1) 63%);
    width: 100%;
    margin: 0;
    max-width: 100%;
}

.col-12 {
    display: flex;
    justify-content: center;
}

.card {
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: -9px 16px 49px -4px #000000;
-moz-box-shadow: -9px 16px 49px -4px #000000;
-o-box-shadow: -9px 16px 49px -4px #000000;
box-shadow: -9px 16px 49px -4px #000000;
}